{
  "plugins": ["prettier-plugin-astro"],
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
