---
import Layout from "../../layouts/Layout.astro";
import WishlistComponent from "../../components/Wishlist.astro";
---
<Layout title="seri0zha - Wishlist" linkTarget="_blank">
    <a href="/" target="_self" style="padding-bottom: 12px; display: block; ">Домой</a>
    <WishlistComponent />
</Layout>