---
import Layout from "../layouts/Layout.astro";
import "../styles/index.scss";
---

<Layout title="seri0zha.ru">
  <main class="main">
    <h1 class="pb-4">Когда-нибудь здесь что-нибудь появится.</h1>
    <p>А пока вы можете <a href="/wishlist">перейти в мой вишлист</a></p>
  </main>
</Layout>
