---
import "../styles/global.css";

type Props = {
  title: string;
  linkTarget?: "_blank" | "_self";
};

const { title, linkTarget = "_self" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="seri0zha homepage" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#27272a"/>
    <base target={linkTarget} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-800 text-stone-200 text-lg">
    <main class="max-w-2xl m-auto p-6">
      <slot />
    </main>
  </body>
</html>
